.main {
    width: 500px;
    height: 500px;
}

@media (min-width: 0px) and (max-width: 420px) {
h2 {
    background-color: darkslategrey;    
}
h2::after{
    content: "cinza";
}
}


@media (min-width:421px) and (max-width: 768px) {
h2 {
    background-color: orange;    
}
h2::after{
    content: "laranja";
}

}

@media (min-width: 768px) and (max-width: 1024px) {
h2 {
    background-color: pink;    
}
h2::after{
    content: "rosa";
}
}

@media (min-width: 1025px) and (max-width: 1080px) {
h2 {
    background-color: red;    
}
h2::after{
    content: "vermelho";
}
}

@media (min-width: 1081px) and (max-width: 1366px) {
h2 {
    background-color: purple;    
}
h2::after{
    content: "roxo";
}
}

@media (min-width: 1367px) and (max-width: 1920px) {
h2 {
    background-color: yellow;    
}
h2::after{
    content:"amarelo";
}
}

@media screen and (min-width: 1921px) {
h2 {
    background-color: green;    
}
h2::after{
    content:"verde";
}
}